/* ------------ Base Styles --------------- */
* {
    box-sizing: border-box;
    
}
html {
    background: #E8E8E8;
    

}


p {
    font-size: .9rem

}

a {
    text-decoration: none;
    
}

li {
    list-style: none;
}


/* ==========================================
    Base Layout Styles 
==============================================*/

/* ------------ Navigation --------------- */

.name {
    font-family: 'Patua One', serif;
    color:	#404040;
    letter-spacing: .05rem;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 13px;
    margin-top: 0;
    
}


.main-nav {
    padding: 0 1rem;  
    margin: 0;
}



.main-nav a  {
    text-align: center;
    display: block;
    padding: 6px;
    color: #404040;
    font-family: 'Patua One', serif;
    letter-spacing: .03rem;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: .9rem;
      
}

.main-nav li {
    text-align: center;
    background: #fff;   
}


.primary {
    text-align: center;
    
}

.profile-image {
    padding-top: 40px;
    width: 60%;
    height: auto;

    
}

.primary p {
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 350px;
    color: #909090;
    font-weight: 100;
    padding-bottom: 30px;
    
}

.portfolio, .portfolio-heading {
    text-align: center;
    margin: 0 auto;
    background: white;
}
.portfolio-heading h2 {
    padding-top: 52px;
    padding-bottom: 40px;
    font-size: .88rem;
    font-family: 'Patua One', serif;
    letter-spacing: .03rem;
    color: #404040;
    
  
}

.portfolio h2 {
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.1rem;
    letter-spacing: .03rem;
    color: #404040;
    
}

.portfolio p {
    margin: 0 auto 30px auto;
    width: 85%;
    color: #606060;
    
}

.calculator p {
    width: 80%;
    padding-bottom: 55px;
}

#card-img {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    height: 350px;  
}

.img-1 {
    margin-top: -12px;
}

.contact h2 {
    color: #404040;
    font-family: 'Patua One', serif;
    letter-spacing: .03rem;
    font-size: .9rem;   
}

.closing-remark {
    width: 90%;
    margin: 28px auto 20px auto;
    
}



b {
    color: #202020;
    font-weight: 900;
}

.student-name {
    position: absolute;
    top: 20px;
    left: 12px;
    
}

.back-to-top {
    position: absolute;
    top: 20px;
    right: 12px;
}





/* Figure out styling inline bold words in footer, review floating and
fixed/absolute/relative positioning, and finish stying footer in mobile
layout */








/* ------------ Layout Containers --------------- */
body {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    line-height: 1.6;
    background: #F8F8F8;
    margin: 0 auto;
    padding-bottom: 0px;
    
    
}

.container {
    margin: 0 auto;
    
}

.contact {
    margin: 20px auto 100px auto;
    padding-top: 20px;
    text-align: center;
    color: #909090; 
}

footer {
    border-top: 1px solid lightgray; 
    height: 70px;
    position: relative;
    color: #404040;
    font-family: 'Patua One', serif;
    letter-spacing: .03rem;
    font-size: .85rem; 
    margin-top: -30px;
}


/* ==========================================
    Media Queries
==============================================*/

@media (min-width: 768px) {
   

    .main-nav {
       margin: 0 auto; 

            
    }

    .main-nav li {
        float: left;
        margin-left: 12px;
        
    }

    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }




}

@media (min-width: 1024px) {


    

}


