/* ------------ Base Styles --------------- */
* {
    box-sizing: border-box;
    
}
html {
    background: #E8E8E8;
    
    

}


p {
    font-size: .9rem

}

a {
    text-decoration: none;
    color: #404040;   
}

a:hover {
    background-color: thistle;
}

li {
    list-style: none;
}


/* ==========================================
    Base Layout Styles 
==============================================*/

/* ------------ Navigation --------------- */




.name {
    font-family: 'Patua One', serif;
    color:	#404040;
    letter-spacing: .05rem;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 13px;
    margin-top: 0;
    font-size: 25px;;
    
    
}


.main-nav {
    padding: 0 1rem;  
    margin: 0;
    
}

.main-nav-2 {
    display: none;
}



.main-nav a  {
    text-align: center;
    display: block;
    padding: 6px;
    color: #404040;
    font-family: 'Patua One', serif;
    letter-spacing: .03rem;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: .9rem;
      
}

.main-nav li {
    text-align: center;
    background: #fff;   
}


.primary {
    text-align: center;
    
}

.profile-image {
    padding-top: 40px;
    width: 60%;
    max-width: 340px;
    height: auto;

    
}

.primary p {
    width: 85%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    color: #909090;
    font-weight: 100;
    padding-bottom: 30px;
    
}

.portfolio, .portfolio-heading {
    text-align: center;
    margin: 0 auto;
    background: white;
}

.portfolio-heading h2 {
    margin-bottom: 0;   
}

.portfolio-heading h2 {
    padding-top: 52px;
    padding-bottom: 40px;
    font-size: .88rem;
    font-family: 'Patua One', serif;
    letter-spacing: .03rem;
    color: #404040;
    
  
}

.portfolio h2 {
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.1rem;
    letter-spacing: .03rem;
    color: #404040;
    
}

.portfolio p {
    margin: 0 auto 30px auto;
    width: 85%;
    max-width: 500px;
    color: #606060;
    
}

.calculator p {
    width: 80%;
    padding-bottom: 55px;
}

.card-img {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    max-width: 500px;
    height: 175px;  
}

.img-1 {
    margin-top: -12px;
}

.contact h2 {
    color: #404040;
    font-family: 'Patua One', serif;
    letter-spacing: .03rem;
    font-size: .9rem;   
}

.closing-remark {
    width: 90%;
    margin: 28px auto 20px auto;
    
}



b {
    color: #202020;
    font-weight: 900;
}

.student-name {
    position: absolute;
    top: 20px;
    left: 12px;
    
}

.back-to-top {
    position: absolute;
    top: 20px;
    right: 12px;
    color: #404040;
}


.skills {
    background: linear-gradient(transparent, darkorange, cornflowerblue, gold, transparent);   
    padding-top: 20px;
}

.skills h1 {
    
    font-size: 30px;
    text-align: center;
    
}

.skills ul {
    float: left;
    width: 35%;
    margin: 0 0 20px 20px;
    
    
    
}

.skills li {
    list-style: circle;
    list-style-position: inside;
    padding: 20px 0;
    font-family: 'Kalam', serif;
    font-size: 20px;
    text-shadow: 4px 4px 4px #aaa;
    color: white;
}

.skills-img {
    width: 30%;
    float: right;
    box-shadow: 15px 15px 20px rgba(0,0,0, .8);
    height: 150px;
    margin: 30px 70px 0 0;
    border-radius: 50%;  
}



/* Finish styling Skills section and review 
enhancing design with css for 
styling */











/* ------------ Layout Containers --------------- */
nav {
    background: beige;
    padding-bottom: 20px;
    
    
    
}

body {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    line-height: 1.6;
    background: #F8F8F8;
    margin: 0 auto;
    padding-bottom: 0px;
      
}

.container {
    margin: 0 auto;
    
    
}

.contact {
    margin: 20px auto 80px auto;
    padding-top: 20px;
    text-align: center;
    color: #909090; 
}

footer {
    border-top: 1px solid lightgray; 
    height: 70px;
    position: relative;
    color: #404040;
    font-family: 'Patua One', serif;
    letter-spacing: .03rem;
    font-size: .85rem; 
    margin: 0 20px 0 20px;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* ==========================================
    Media Queries
==============================================*/

@media (min-width: 768px) {
   

    .name {
        margin-bottom: 0;
   
    }

    .main-nav {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 15px;

            
    }

    .main-nav li {
        display: inline-block;
        margin-right: 15px;
        padding-right: 12px;
        padding-left: 12px;
        background: none;
        
        
    }

    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

    .profile-image {
        float: right;
        width: 45%;
        max-width: none;
        padding-top: 0;
        margin-right: 30px;
        margin-bottom: 30px;

    }

    .primary p {
        float: left;
        width: 45%;
        margin-top: 0px;
        padding-bottom: 0;
        text-align: left;
        margin-left: 30px;
        line-height: 3;
    

    }

    .marketing-page, .travel-app, .photo-gallery {
        width: 50%;
        float: left;
        
        
        
        

    }

    .search-page, .map, .calculator {
        width: 50%;
        float: right;
    }

    .search-page, .map, .calculator, .marketing-page, .travel-app, .photo-gallery {
        min-height: 400px;
    } 

    .card-img {
        height: 40%;
        margin-top: 0;
        padding: 0 10px;
        max-width: none;
    }

    .calculator p {
        padding: 0;
        margin: 0 28.813px 30px 28.797px;


    }

    .contact {
        width: 70%;
    }

    .back-to-top {
        display: none;
    }

    .main-nav-2 {
        float: right;
        display: inline-block;
        margin: 10px 0 0 0;
        color: #404040;
        
    }

    .main-nav-2 li {
        margin-right: 15px;
        float: left;
        display: inline-block;
        

        
    }

    .main-nav-2 a {
        color: #404040;
        font-family: 'Patua One', serif;
        letter-spacing: .03rem;
        font-size: .85rem; 
    }

    footer {
       height: 80px; 
       
        
    }

    .student-name {
        float: left;
        color: #404040;
        display: inline-block;
        margin-top: 10px;
    }

    nav {
        position: fixed;
        width: 100%;
        top: 0;
        padding-bottom: 0;
        
    }

    .container {
        margin: 0 auto;
        padding-top: 198px;
        
    }

    .skills li {
        list-style: circle;
        list-style-position: inside;
        padding: 20px 0;
        font-family: 'Kalam', serif;
        font-size: 25px;
        text-shadow: 4px 4px 4px #aaa;
        color: white;
    }
    
    .skills-img {
        width: 40%;
        float: right;
        box-shadow: 15px 15px 20px rgba(0,0,0, .8);
        height: 250px;
        margin: 0 80px 100px 0;
        margin-top: 30px;
        border-radius: 50%;  
    }

    




}

@media (min-width: 1024px) {

    .name {
        float: left;
        margin: 20px 0 0 30px;
        padding-top: 0;

        
   
    }

    .main-nav {
        float: right;
        margin-top: 20px;
      

            
    }

    .marketing-page, .map  {
        width: 33.33%;
        float: left;

    }

    .search-page, .photo-gallery {
        float: left;
         width: 33.33%;


    }

     .calculator, .travel-app {
        width: 33.33%;
        float: left;

    }

    .closing-remark {
        width: 57%;
    }

    nav {
        position: fixed;
        width: 100%;
        top: 0;
        
    }

    .container {
        margin: 0 auto;
        padding-top: 107px;
        
    }

    .primary {
        padding-top: 40px;

    } 

    .skills li {
        list-style: circle;
        list-style-position: inside;
        padding: 20px 0;
        font-family: 'Kalam', serif;
        font-size: 25px;
        text-shadow: 4px 4px 4px #aaa;
        color: white;
    }
    
    .skills-img {
        width: 40%;
        float: right;
        box-shadow: 15px 15px 20px rgba(0,0,0, .8);
        height: 250px;
        margin: 0 80px 100px 0;
        margin-top: 30px;
        border-radius: 50%;  
    }


   

   





    

}


